#header {
	position:fixed;
	height:75px;
	padding:20px;
	z-index:1;
	background-color:#d3d3d3;
	left:0px;
	right:0px;
}

#title{
	display:block;
	float:left;
}

#course{
	display:block;
	float:right;
}

.cat-row {
	position: relative;
	top:105px;
}

/* Download puddy/putty use ssh type uwnetid@virgil.washington.edu yes we trust it put in netid password*/