img {
    width: 100%;
    height: auto;
}


/* Relative position: https://csstricks.com/absolutepositioninginsiderelativepositioning/ */

#container {
    display: inlineblock;
    width: 50%;
    position: relative;
}


/* Assign styles here */
.label{
	position: absolute;
	color:white;
	font-size: 1.5em;
}

.top{
	top:5px;

}

.center{
	top:50%;
}

.bottom{
	bottom:5px;
}

.right{
	right:5px;
}

.left{
	left:5px;
}

.middle{
	width:100%;
	text-align: center
}